@font-face {
  font-family: "DM Sans";
  src: url("@fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans Bold";
  src: url("@fonts/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DM Sans Medium";
  src: url("@fonts/Inter-Medium.ttf") format("truetype");
}
